html, body { width: 100%; height: 100%; background-color: #FFFFFF; }

img { display: block; }

header { width: 100%; margin-bottom: 63px; }
header .logo { width: 175px; height: 106px; margin: 0 auto; opacity: 0; }

#wrapper { width: 100%; margin-bottom: 152px;  }

.row { width: 100%; opacity: 0; }

.videos { cursor: pointer; width: 1140px; height: 291px; margin: 0 auto; }
.videos .video { width: 363px; height: 250px; float: left; margin-right: 25px; }
.videos .last { margin: 0; }
.videos .video .thumb { width: 363px; height: 203px; margin-bottom: 26px; }
.videos .video .title { width: 363px; text-align: center; font: normal 16px Helvetica; color: #000000; }

.player { width: 1300px; height: 658px; margin: 0 auto; position: relative; background: url("../img/player/bg.jpg") top left no-repeat; }
.player .close { cursor: pointer; position: absolute; top: 19px; right: 21px; width: 33px; height: 33px; background: url("../img/player/close.png") top left no-repeat; }

footer {  width: 100%; height: 62px; background-color: #000000; }