<!-- 00) loader -->
<div id="loading">
    <!-- <img src="img/tatloading.gif" /> -->
    <img src="https://s3.amazonaws.com/tattooassets/loading.gif" />
</div>

<div id="inking">
    <!-- <img src="img/tatloading.gif" /> -->
    <img src="https://s3.amazonaws.com/tattooassets/inking.gif" />
</div>

<!-- 0) orientation blocker -->
<div id="landscape">
    <img class="rotate" src="https://s3.amazonaws.com/tattooassets/rotatephone.png" />
</div>

<!-- 1) splash page one -->
<div id="splash">
    
</div>

<!-- 2) instructions page two -->
<div id="instructions">
    
</div>

<!-- 3) take a photo page three -->
<div id="takeaphoto">
    <div id="arms">
        <img class="arm active" src="https://s3.amazonaws.com/tattooassets/takeaphoto/shoulder.jpg" />
        <img class="arm" src="https://s3.amazonaws.com/tattooassets/takeaphoto/arm.jpg" />
        <img class="arm" src="https://s3.amazonaws.com/tattooassets/takeaphoto/back.jpg" />
    </div>
    <img class="button" width="260" src="https://s3.amazonaws.com/tattooassets/takeaphoto/takeaphoto.png" />
    <div id="arm-buttons">
        <div class="arm-button active b1"></div>
        <div class="arm-button b2"></div>
        <div class="arm-button b3"></div>
    </div>
    <input type="file" id="fileinput" name="file" accept="image/*" capture="camera">
</div>

<!-- 5) edit tattoo page six -->
<div id="edit">
    <canvas id="output"></canvas>
    <div id="image-wrapper">
        <div class="overlay">
            <img class="pickyourtat" src="https://s3.amazonaws.com/tattooassets/edit/pickyourtat.png" />
        </div>
    </div>

    <div id="picktat">
        <div id="left">
            <img src="https://s3.amazonaws.com/tattooassets/edit/leftnipple.png" />
        </div>
        <div id="tats-wrapper">
            <div id="tats">
                <div class="tat"><img src="/img/tattoos/suckit.png" /></div>
                <div class="tat"><img src="/img/tattoos/milf.png" /></div>
                <div class="tat"><img src="/img/tattoos/caesareanpride.png" /></div>
                <div class="tat"><img src="/img/tattoos/pinotgrigio.png" /></div>
                <div class="tat"><img src="/img/tattoos/rollindeep.png" /></div>
                <div class="tat"><img src="/img/tattoos/shhhhhh.png" /></div>
                <div class="tat"><img src="/img/tattoos/colicishell.png" /></div>
                <div class="tat"><img src="/img/tattoos/hellonwheelz.png" /></div>
                <div class="tat"><img src="/img/tattoos/mamadrama.png" /></div>
                <div class="tat"><img src="/img/tattoos/hotloaded.png" /></div>
                <div class="tat"><img src="/img/tattoos/pinotnoir.png" /></div>
                <div class="tat"><img src="/img/tattoos/snothappens.png" /></div>
                <div class="tat"><img src="/img/tattoos/becauseisaidso.png" /></div>
                <div class="tat"><img src="/img/tattoos/skullandbottles.png" /></div>
                <div class="tat"><img src="/img/tattoos/winepaci.png" /></div>
                <div class="tat"><img src="/img/tattoos/meandmycubs.png" /></div>
                <div class="tat"><img src="/img/tattoos/barbedbottle.png" /></div>
                <div class="tat"><img src="/img/tattoos/bigboys.png" /></div>
            </div>
        </div>
        <div id="right" class="active">
            <img src="https://s3.amazonaws.com/tattooassets/edit/rightnipple.png" />
        </div>
    </div>

    <div id="controls">
		<form>
    		<input class="scrollable" type="range" name="slider-1" id="imgscale" min="0" max="2" value="1" step=".01">
    		<input class="scrollable" type="range" name="slider-2" id="imgrotate" min="-180" max="180" value="0" step="1">
    		<input class="scrollable" type="range" name="slider-3" id="imgopacity" min="0" max="1" value=".6" step=".01">
		</form>
        <div id="controlbuttons" class="clear">
            <a id="setscale" class="active" href="#"></a>
            <a id="setrotate" href="#"></a>
            <a id="setopacity" href="#"></a>
        </div>
	</div>

    <div id="navigationbuttons" class="clear">
        <a id="backbtn" href="#" ></a>
        <a id="inkitbtn" href="#" ></a>
    </div>
</div>

<!-- 6) share dat tat! -->
<div id="share" class="clear">
    <div id="pressholdsave">
        <img src="https://s3.amazonaws.com/tattooassets/share/pressholdsave.png" />
    </div>
    <div id="share-buttons" class="clear">
        <a id="share_fb" href="#"></a>
        <a id="share_tw" href="#" target="_blank"></a>
        <a id="share_pi" href="#" target="_blank"></a>
        <a id="share_em" href="#" target="_blank"></a>
    </div>
    <div id="makeanother">
        <a href="#"><img src="https://s3.amazonaws.com/tattooassets/share/makeanothertat.png" /></a>
    </div>
</div>

<!-- 7) hear more -->
<div id="hearmore">
    <form id="hearmoreform">
        <img src="https://s3.amazonaws.com/tattooassets/hearmore/hearmorebg.png" />
        <input class="email" type="text" name="email" />
        <span class="doyouaccept" ></span>
        <a target="_blank" class="nickmom" href="http://nickmom.com"></a>
        <a target="_blank" class="tos" href="http://www.nickmom.com/terms-of-use/"></a>
        <a target="_blank" class="pp" href="http://www.nickmom.com/privacy-policy/"></a>
    </form>
    <div id="backorsubmit">
        <a class="back" href="#"><img src="https://s3.amazonaws.com/tattooassets/hearmore/backBtn.png" /></a>
        <a class="submit" href="#"><img src="https://s3.amazonaws.com/tattooassets/hearmore/submitBtn.png" /></a>
    </div>
    <p class="legal">&copy;2013 Viacom. All Rights Reserved.</p>
</div>