/*
	Global
*/
html, body { width: 100%; height: 100%; background-color: #FFFFFF; }
img { display: block; }

@font-face { font-family: 'TGBC20'; src: url('../font/TradeGothicLTStd-BdCn20.otf'); }
@font-face { font-family: 'TGBCO20'; src: url('../font/TradeGothicLTStd-BdCn20Obl'); }

@font-face { font-family: 'TGBC18'; src: url('../font/TradeGothicLTStd-Cn18.otf'); }
@font-face { font-family: 'TGBCO18'; src: url('../font/TradeGothicLTStd-Cn18Obl.otf'); }

/*
	Back to top
*/
#backtotop { cursor: pointer; position: fixed; right: 0px; top: 50%; margin-top: -51px; z-index: 10000; display: none; }

/*
	Header
*/
#header { width: 100%; background: #FFFFFF; position: fixed; top: 0px; z-index: 1000;}
#header #navwrapper { position: relative; opacity: 0; width: 1136px; height: 106px; background: url("../img/logo.png") top left no-repeat; background-position: center; margin: 0 auto; }
#header #navwrapper .nav { opacity: 0; margin: 0 auto; width: 883px; padding-top: 35px; padding-left: 254px;  }
#header #navwrapper .nav a { float: left; font: normal 15px 'TGBC18'; }
#header #navwrapper .nav .projects { margin-right: 83px; }
#header #navwrapper .nav .openabout { margin-right: 264px; }
#header #navwrapper .nav .opencontact { margin-right: 56px; }
#header #subnavswrapper { width: 100%; height: 104px; background: #000000; display: none;  }
#header #subnavswrapper #subnavs { width: 1137px; height: 104px; position: relative; margin: 0 auto; }
#header #subnavswrapper #subnavs .about { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; padding-top: 27px; display: none; }
#header #subnavswrapper #subnavs .about p { width: 370px; color: #FFFFFF; font-family: 'TGBC18'; font-size: 13px; line-height: 16px; }
#header #subnavswrapper #subnavs .about .links { position: absolute; top: 30px; left: 512px; width: 150px; height: 40px; }
#header #subnavswrapper #subnavs .about .links a { float: left; margin-right: 20px; }
#header #subnavswrapper #subnavs .contact { position: absolute; width: 400px; height: 100%; top: 0px; left: 0px; padding-left: 255px; padding-top: 48px; display: none; font-family: 'TGBC18'; font-size: 13px; }
#header #subnavswrapper #subnavs .contact .items .name { float: left; margin-right: 63px; color: #FFFFFF; }
#header #subnavswrapper #subnavs .contact .items .number { float: left; margin-right: 60px; color: #FFFFFF; }
#header #subnavswrapper #subnavs .contact .items .email { float: left; color: #FFFFFF; }
#header #subnavswrapper #subnavs #closeheader { cursor: pointer; position: absolute; top: 48px; right: 0px; display: none; }

/*
	CATEGORIES
*/

#categories { width: 86px; height: 16px; position: absolute; bottom: 56px; right: 0px; z-index: 10000; cursor: pointer; font-family: 'TGBC20'; font-size: 13px; }
#categories .categories-button { width: 100%; height: 100%; }
#categories .categories-button img { position: absolute; top: 0px; left: 0px; width: 18px; height: 16px; }
#categories .categories-button span { position: absolute; top: 4px; left: 29px; }
#categories ul { display: none; position: absolute; top: 16px; right: -2px;  background-color: #FFFFFF; padding-top: 20px; width: 127px; }
#categories ul li { color: #858585; margin-bottom: 10px; font-family: 'TGBC20'; font-size: 13px; text-align: right; }
#categories ul li p { position: relative; display: inline; }
#categories ul li p span { position: absolute; left: -10px; top: -1px; }
#categories ul .on { color: #4c4c4c; }
#categories ul li .plus { color: #F5F5F5; }
#categories ul .on .plus { color: #4c4c4c; }
#categories:hover ul { display: block; }
/*
	Rows
*/
#wrapper { width: 100%; padding-top: 185px; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -62px; }

.row { width: 100%; opacity: 0; }

.videos { cursor: pointer; width: 1140px; height: 270px; margin: 0 auto; }
.videos .videothumb { width: 363px; height: 250px; float: left; margin-right: 25px; position: relative; }
.videos .last { margin: 0; }
.videos .videothumb .thumb { width: 364px; height: 204px; margin-bottom: 26px; }
.videos .videothumb .title { width: 363px; text-align: center; font: normal 16px Helvetica; color: #000000; text-transform: uppercase; font-family: "TGBC20"; }
.videos .videothumb .title .it { font-family: "TGBCO18"; }
.videos .videothumb .title .plain { font-family: "TGBC18"; }
.videos .videothumb .overlay { position: absolute; top: 0px; left: -10px; width: 384px; height: 0px; opacity: 0;
   -webkit-transition:all .100s ease-in;  
   -moz-transition:all .1s ease-in;  
   -o-transition:all .1s ease-in;  
   transition:all .1s ease-in;  
}
.videos .videothumb:hover .overlay { opacity: 1; height: 204px;
	-webkit-transition:all .200s ease-in;
   -moz-transition:all .2s ease-in;  
   -o-transition:all .2s ease-in;  
   transition:all .2s ease-in;
}

/*
	Video Player
*/
.player-wrapper { position: relative; width: 100%; background-color: #000000; margin-bottom: 20px; background: #000000 url("../img/player/bg.jpg") top left no-repeat; background-position: center; height: 0px; overflow: hidden;}
.player-wrapper .overlay { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1; background: url("../img/player/gradient.png") top left repeat-x; }
.player-wrapper .leftcap { position: absolute; top: 0px; left: 0px; width: 120px; height: 100%; z-index: 10; background: url("../img/player/leftcap.png") top left no-repeat; }
.player-wrapper .rightcap { position: absolute; top: 0px; right: 0px; width: 120px; height: 100%; z-index: 10; background: url("../img/player/rightcap.png") top left no-repeat; }
.player-wrapper .player { z-index: 100; width: 1300px; height: 608px; overflow: hidden; margin: 0 auto; position: relative; }
.player-wrapper .player .video-wrapper { background-color: #000000; position: absolute; top: 79px; right: 77px; width: 804px; height: 453px; }
.player-wrapper .player .close { cursor: pointer; position: absolute; top: 39px; right: 74px; width: 93px; height: 26px; background: url("../img/player/close.png") top left no-repeat; }
.player-wrapper .player .title { opacity: 0; position: absolute; top: 272px; left: 59px; width: 294px; text-align: center; color: #FFFFFF; z-index: 2; }
.player-wrapper .player .title .main { font-family: "TGBC20"; font-size: 32px; }
.player-wrapper .player .title .sub { font-family: "TGBCO18"; font-size: 26px; font-weight: normal; }
.player-wrapper .player .role { opacity: 0; position: absolute; top: 360px; left: 59px; width: 294px; text-align: center; color: #000000; font-family: "TGBC20"; font-size: 18px; z-index: 2; }
.player-wrapper .player .role p { padding: 7px 50px 2px 50px; background-color: #FFFFFF; display: inline; }

.player-wrapper .player .rolebgtop { position: absolute; top: 332px; left: -20px; width: 462px; height: 1px;  opacity: 0.2; z-index: 1; background: url('../img/player/rolebgtop.png') top left no-repeat; }
.player-wrapper .player .rolebgbottom { position: absolute; top: 333px; left: -20px; width: 462px; height: 142px;  opacity: 0.7; z-index: 1; background: url('../img/player/rolebgbottom.png') top left no-repeat; }

/*
	Footer
*/
#footer { width: 100%; background: #000000; }
#footer, .push { height: 62px; }
#footer .nav { height: 62px; margin: 0 auto; width: 1137px; background: #000000 url("../img/logoFooter.png") top left no-repeat; background-position: center;  }

#footer .nav a, #footer .nav p { float: left; font-family: 'TGBC18'; font-size: 13px; }
#footer .nav .email { padding-top: 27px; margin-right: 148px; color: #FFFFFF; }
#footer .nav .number { padding-top: 27px; float: left; margin-right: 419px; color: #FFFFFF; }
#footer .nav .copyright { padding-top: 27px; float: left; margin-right: 171px; color: #FFFFFF; }

#footer .nav .vimeo { float: left; margin-right: 14px; }
#footer .nav .flickr { float: left; margin-right: 16px; }
#footer .nav .imdb { float: left; }